<tr>
    <td><%= geo_graph.name %></td>
    <td><%= geo_graph.updated_at %></td>
    <td><%= link_to "Show", geo_graph_path(geo_graph) %></td>
    <% if current_user == geo_graph.user %>
        <td><%= link_to "Edit", edit_geo_graph_path(geo_graph) %></td>
    <% end %>
</tr>
