<tr>
    <td><%= link_to geo_graph.name, geo_graph_path(geo_graph) %></td>
    <td><%= geo_graph.updated_at.to_formatted_s(:long_ordinal) %></td>
    <td>
    <% if current_user == geo_graph.user %>
        <%= link_to "Edit", edit_geo_graph_path(geo_graph) %>
    <% end %>
    </td>
</tr>
