<h1>Edit Columns for <%= @geograph.name %></h1>
<table>
    <thead>
        <tr>
            <% @geograph.import_data.measures.headers.each do |header| %>
                <th><%= header %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @geograph.import_data.measures.each do |row| %>
            <% unless row.header_row? %>
                <tr>
                    <% row.fields.each do |field| %>
                        <td><%= field %></td>
                    <% end %>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
