<h3>Welcome!</h3>
<p>
    This is Insite - a tool to help you visualize data that has a geographic component.
</p>
<p>
    Check out some examples below, or 
    <%= link_to 'create an account', new_user_registration_path %> and start making your own.
</p>

<h3>GeoGraphs</h3>
<table>
    <thead>
        <tr><th>Name</th><th>Last Updated</th><th></th></tr>
    </thead>
    <tbody>
        <%= render :partial => 'shared/line_items/geo_graph', :collection => @geographs %>
    </tbody>
</table>
<% if user_signed_in? %>
    <%= link_to "Create a new geograph", new_geo_graph_path %>
<% end %>
