<h1>GeoGraph#show</h1>
<table>
    <% @place_measures.each_with_index do |pm, i| %>
        <% if i == 0 %>
            <tr><th>Library Name</th>
            <% @geograph.measures.each do |measure| %>
                <th><%= measure.name %></th>
            <% end %>
            </tr>
        <% end %>
        <% if i == 0 or @place_measures[i-1].place_id != pm.place_id %>
            </tr><tr><td><%= pm.place.name %></td>
        <% end %>
        <td><%= pm.value %></td>
<% end %>
</table>
